{% extends 'heilienapp.base.html' %}
{% load render_bundle from webpack_loader %}
{% load staticfiles %}
{% block content %}
	<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?skin=sunburst" defer="defer"></script>
	<div id="heilien-app"></div>
	{% render_bundle 'heilien_homepage_view' %}
{% endblock %}