.input-container {
	margin-bottom: 10px;
}
.has-error {
	border-color: red;
}
.input-container label{
	font-weight: normal;
	display: block;
	font-size: 13px;
	margin: 0;
}
.input-container input {
	display: block;
	width: 100%;
	height: 30px;
	outline: 0;
	border: 1px solid #ccc;
	border-radius: 4px;
	line-height: 30px;
	color: #555;
	background-color: #fff;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	padding: 0 10px;
	font-size: 14px;
}
.input-container input.has-error {
	border-color: red;
}
.input-container span.error {
	display: block;
	color: red;
	font-size: 10px;
	margin: 0;
	transition: all ease-in-out .15s;
}